* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clearfix::after {
	content: "";
	display: block;/* block要素 */
	clear: both;/* float解除を左右にかける */
}
main {
	width: 960px;/* mainの横幅 縦幅は設定しなくて良い */
	margin: 50px;/* mainの上下左右の空白箇所 */
}
.list {
	margin-bottom: 50px;/* list下の空白箇所 */
}
.list-item {
	padding: 20px;/* リストの文字周りの空白箇所 */
	list-style: none;/* デフォルトで付く・を無くす */
}
.list-item:nth-child(odd) {/* 奇数にのみ適用する場合 */
	background-color: #eee;
}
.box {
	background-color: #ffd700;/* boxを全部黄色にする */
	width: 30%;
	height: 200px;
	float: left;
	margin-right: 5%;
	margin-bottom: 40px;
}
.box:first-child,/* セレクタを複数選択する 今回は左上から右下の並び */
.box:last-child,/* 最後のbox */
.box:nth-child(5) {/* 真ん中のbox */
	background-color: #ff8c00;/* 橙色に上書き */
}
.box:nth-child(3n) {/* 3の倍数に適用 右側全部 */
 	margin-right: 0;
}
.box:nth-last-child(-n+3) {/* 多分最後の列に適用 */
 	margin-bottom: 0;
}